In [2]:
import fitz  # Import the PyMuPDF library

# Extracting Text from PDF

In [3]:
def extract_text_from_pdf(pdf_path):
    document = fitz.open(pdf_path)  # Open the PDF file
    text = ""
    for page in document:  # Iterate through each page
        text += page.get_text()  # Extract text from the page
    document.close()  # Close the document
    return text

In [6]:
# Replace 'yourfile.pdf' with the path to your PDF file
pdf_text_1 = extract_text_from_pdf("Underwriting/Yash LOE 11.16.2023.pdf")
pdf_text_2 = extract_text_from_pdf("Underwriting/Yash_Patel_2022_-_T4_Slip.pdf")
print(pdf_text_1)

November 16, 2023
To whom it may concern,
BARRICK GOLD CORPORATION
P.O. Bag 500
Marathon, Ontario P0T 2E0
Canada
Tel: +1 807-238-1100
This letter is confirmation that Yash Patel is employed fulltime/permanent at a company within
Ontario, Williams Operating Corporation. He is an employee in the role of Drill and Blast Planner
in the Technical Services department working on a 14 on, 14 off schedule. He has been employed
since May 7, 2019. He works an average of 40 hrs/week with a current annual salary of
$105,000.00
If you have any further questions, please feel free to contact me.
Sincerely,
Stacey Ratte
Human Resources Business Partner
sratte@barrick.com
807-238-2170

## Extracting Employment income from T4 - employee

In [9]:
pdf_lines = pdf_text_2.split('\n')
i = pdf_lines.index('Employment income')
t4_income = pdf_lines[i+3]
t4_income

'122,024.52'

# Extracting Tables from PDF

## Tabula

In [1]:
from tabula import read_pdf

In [2]:
# The path to your PDF file
pdf_path = 'Underwriting/Yash Paystub Nov 17 2023.pdf'

# Use read_pdf to extract tables into a DataFrame
tables = read_pdf(pdf_path, pages="all", lattice="True", multiple_tables=True)

Error importing jpype dependencies. Fallback to subprocess.
No module named 'jpype'
C:\Users\edent\AppData\Local\Programs\Python\Python310\lib\site-packages\tabula\io.py:1045: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

In [3]:
# Iterate over the list of DataFrames and print them
for i, table in enumerate(tables):
    print(f"Table {i}:")
    print(table)

Table 0:
                                          Unnamed: 0  \
0                                                NaN
1                                      Employee Name
2                                         Yash Patel
3                                   Employee Address
4  4 Graham Crescent\rBox 2180\rMarathon, ON P0T 2E0
5                                  Period Begin Date
6                                        29-OCT-2023

                                          Unnamed: 1  \
0                                                NaN
1                                    Employee Number
2                                            1500334
3                                   Employer Address
4  Surface Warehouse\r3 KM West of the junction o...
5                                    Period End Date
6                                        11-NOV-2023

                        Unnamed: 2          Pay Date
0                              NaN       17-NOV-2023
1              Employer Legal Name       Base Salary
2  Williams Operating\rCorporation        105,000.00
3                              NaN               NaN
4                              NaN               NaN
5           Personal Leave Balance  Vacation Balance
6                              NaN               NaN
Table 1:
                                    Summary  Current  YTD
0               Gross Pay4,438.46117,446.29      NaN  NaN
1            Taxable Benefits259.305,963.90      NaN  NaN
2  Employee Tax Deductions1,187.8838,511.90      NaN  NaN
3        Voluntary Deductions201.924,703.56      NaN  NaN
4             Nonpayroll Payments0.00300.00      NaN  NaN
5                  Net Pay3,048.6674,530.83      NaN  NaN
Table 2:
                            Gross Pay  \
0               Residential Allowance
1                Short Term Incentive
2                 Vacation Adjustment
3                         Regular Pay
4                      Bank Time Paid
5  Bank Time Paid\rDisbursement Retro
6                      Personal Leave
7                Personal Leave Retro
8                            Subtotal

                                               Hours  Rate  Multiple  Current  \
0  400.009,200.00\r0.008,203.00\r0.001,504.86\r80...   NaN       NaN      NaN
1                                                NaN   NaN       NaN      NaN
2                                                NaN   NaN       NaN      NaN
3                                                NaN   NaN       NaN      NaN
4                                                NaN   NaN       NaN      NaN
5                                                NaN   NaN       NaN      NaN
6                                                NaN   NaN       NaN      NaN
7                                                NaN   NaN       NaN      NaN
8                                 4,438.46117,446.29   NaN       NaN      NaN

   YTD
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN
5  NaN
6  NaN
7  NaN
8  NaN
Table 3:
                                    Taxable Benefits  \
0  AD&D Benefit1.4633.58\rBSPP Employer201.924,64...
1                             Subtotal259.305,963.90
2                          Subtotal1,389.8043,215.46

                                             Current  YTD  Deductions  \
0  Canada Pension Plan0.00\r3,754.45\rEmployment ...  NaN         NaN
1                                                NaN  NaN         NaN
2                                                NaN  NaN         NaN

   Current.1  YTD.1
0        NaN    NaN
1        NaN    NaN
2        NaN    NaN
Table 4:
  Nonpayroll Payments  Current    YTD
0      Safety Apparel      0.0  300.0
Table 5:
  Employer Contributions  Current        YTD
0             BSPP Match   201.92   4,644.16
1        Company Pension   484.61  11,146.03
Table 6:
  Net Pay Distribution                     Unnamed: 0     Unnamed: 1  \
0       Deposit Number                      Bank Name  Branch Number
1           4176860516  002 - The Bank of Nova Scotia          01032

       Unnamed: 2    Unnamed: 3
0  Account Number  Amount (CAD)
1        XXXX4186      3,048.66

## Camelot

In [28]:
import camelot
import pandas as pd


# The path to your PDF file
pdf_path = 'Underwriting/Jeannine Paystub 01.26.2024.pdf'

# Extract tables from the PDF
tables = camelot.read_pdf(pdf_path, pages='1', flavor='stream')

# Print the number of tables extracted
print("Total tables extracted:", tables.n)

# Iterate over the extracted tables and print them
for i, table in enumerate(tables):
    print(f"Table {i}:")
    print(table.df)

Total tables extracted: 2
Table 0:
                                                    0           1  \
0            EARNINGS       \n    YMMDD \n       RATE      AMOUNT
1   REGULAR                 \n                0.00...     3846.15
2   CASHFLEX                \n                0.00...        6.46
3   TXGRSU                  \n                0.00...        0.00
4   RECAWDTB                \n                0.00...        0.00
5                                      TOTAL EARNINGS     3852.61
6                               LESS TAXABLE BENEFITS        0.00
7                                         TOTAL GROSS     3852.61
8                                 CURRENT\n       YTD
9              DEDUCTIONS     \n    AMOUNT\n   AMOUNT  DEDUCTIONS
10    GOVT PEN               \n    221.22      450.00    EI  CONT
11    FEDL TAX               \n    520.93     1081.85    EERRSP$F
12    EERSP%                 \n    192.31      384.62     PEN VOL
13    EE LIFE                \n      6.14       12.14    EEOPTLFE
14    CHLFEOPT               \n      0.52        1.04    EECRTILL
15    CHCRTILL               \n      3.78        7.56        AD&D
16    SP AD&D                \n      2.65        5.30    VOL AD&D
17    VAC BUY                \n     73.97      147.94         LTD
18    PST ON                 \n     10.11       20.07    HM&CRINS
19    DONATION               \n     10.00       20.00        GMSP
20                                   TOTAL DEDUCTIONS
21                                            NET PAY

                            2
0        HRS/UNITS\n   AMOUNT
1      0.00           7692.30
2      0.00             12.92
3      0.00             47.55
4      0.00             79.48
5                     7832.25
6                       79.48
7                     7752.77
8         CURRENT \n      YTD
9          AMOUNT \n   AMOUNT
10    63.95            127.90
11     6.46             12.92
12   384.62            769.24
13     0.97              1.94
14     8.01             16.01
15     1.06              2.12
16     2.65              5.30
17   100.71            199.33
18    65.92            131.84
19    38.00             76.00
20  1713.98           3473.12
21
Table 1:
                           0                                 1  \
0                                                ASSOCIATE ID:
1             NON NEGOTIABLE
2                                                SAVINGS ACCT:
3                                             DEDN. DEP. ACCT:
4                                             EMPL./PAYEE ID.:
5                                                  OCCUPATION:
6       3GM6 CA-D  000016358
7           RAYMOND JEANNINE
8                             NO. PAY PER.:             OF\n02
9   23 GORDON COWLING STREET
10       COURTICE ON L1E 0G7
11                    CANADA
12                                                    NET PAY:

                       2
0                  16358
1
2
3
4   3GM6 CA-D  000016358
5        SENIOR LEARNING
6
7
8                     26
9
10
11
12           $***2138.63

In [29]:
table_df = tables[0].df
table_df

,0,1,2
0,EARNINGS \n YMMDD \n RATE,AMOUNT,HRS/UNITS\n AMOUNT
1,REGULAR \n 0.00...,3846.15,0.00 7692.30
2,CASHFLEX \n 0.00...,6.46,0.00 12.92
3,TXGRSU \n 0.00...,0.00,0.00 47.55
4,RECAWDTB \n 0.00...,0.00,0.00 79.48
5,TOTAL EARNINGS,3852.61,7832.25
6,LESS TAXABLE BENEFITS,0.00,79.48
7,TOTAL GROSS,3852.61,7752.77
8,CURRENT\n YTD,,CURRENT \n YTD
9,DEDUCTIONS \n AMOUNT\n AMOUNT,DEDUCTIONS,AMOUNT \n AMOUNT
10,GOVT PEN \n 221.22 450.00,EI CONT,63.95 127.90
11,FEDL TAX \n 520.93 1081.85,EERRSP$F,6.46 12.92
12,EERSP% \n 192.31 384.62,PEN VOL,384.62 769.24
13,EE LIFE \n 6.14 12.14,EEOPTLFE,0.97 1.94
14,CHLFEOPT \n 0.52 1.04,EECRTILL,8.01 16.01
15,CHCRTILL \n 3.78 7.56,AD&D,1.06 2.12
16,SP AD&D \n 2.65 5.30,VOL AD&D,2.65 5.30
17,VAC BUY \n 73.97 147.94,LTD,100.71 199.33
18,PST ON \n 10.11 20.07,HM&CRINS,65.92 131.84
19,DONATION \n 10.00 20.00,GMSP,38.00 76.00
20,TOTAL DEDUCTIONS,,1713.98 3473.12
21,NET PAY,,

In [25]:
# Split the 'Data' column into multiple columns
df_split = table_df['Data'].str.split('\n', expand=True)

# If the first row contains the headers, you can set it as the DataFrame header
new_header = df_split.iloc[0] # Grab the first row for the header
df_split = df_split[1:] # Take the data less the header row
df_split.columns = new_header # Set the header row as the df header

df_split

KeyError: 'Data'

In [19]:
import pandas as pd

# Define a function to parse each row
def parse_row(row):
    parts = row.split('\n')  # Split by newline to separate the label from values
    return parts

for table in tables:
    table_df = table.df
    structured_data = [parse_row(row) for row in table_df[0]]
    new_df = pd.DataFrame(structured_data, columns=['Label', 'Current', 'YTD'])

print(new_df)

       Label        Current           YTD
0  Gross Pay          Hours          Rate
1   Subtotal       4,438.46    117,446.29